
@page "/DonationList"
@inject NavigationManager _navigationManager

@using MWF.Pages;
@using MWF.Models;
@using MWF.Codes;
@using System.Data;
@using System.Data.SQLite;


<h3>Donation List</h3>

<table class="table">
    <thead>
        <tr>
            <th>Receipt Number</th>
            <th>Receipt Date</th>
            <th>Donor Name</th>
            <th>Amount</th>
            
            <th><a class="btn btn-light" style="width:20%" href="/DonationForm" role="button"><i class="bi bi-plus me-2"></i>
            
            </a>
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in DonationService.GetDonations())
        {
            <tr>
                <td>@item.Rec_No</td>
                <td>@item.Rec_Date.ToString("yyyy-MM-dd")</td>
                <td>@item.DonorName</td>
                <td>@item.Amount.ToString("###,###,###,##")</td>
                @*<td><button @onclick="() => DonationEdit(item.DonorId)">Edit</button></td>*@
                <td>
                <a class="btn btn-danger" style="width:20%" href=""><i class="bi bi-pencil-fill me-2"></i></a>
                    <button type="submit" @onclick="() => DeleteDonation(item.ID)" class="btn btn-dangerous"><i class="bi bi-trash3" style=" color: red;margin-right:5px"></i></button>
                    <a class="btn btn-secondary" style="width:20%" href=""><i class="bi bi-printer-fill me-2"></i></a>
                </td>
            </tr>
        }
    </tbody>
</table>

@code {

    [Inject]
    public DonationService DonationService { get; set; }

    private void DonationEdit(int ID)
    {
        
    }
    private string MyMessage;

    private void DeleteDonation(long ID)
    {
        if (ID > 0)
        {
            var TextDelete = "DELETE FROM [Donation] WHERE [ID] = @ID";
            var SQLCommand = new SQLiteCommand(TextDelete, ConnectionClass.GetConnected());
            SQLCommand.Parameters.AddWithValue("@ID", ID);

            var effected = SQLCommand.ExecuteNonQuery();
            if (effected > 0)
            {
                // Navigate to donation list after deletion
                _navigationManager.NavigateTo("/DonationList");
                MyMessage = "Donation has been deleted successfully.";
            }
            else
            {
                MyMessage = "Donation not deleted.";
            }
        }
        else
        {
            MyMessage = "Donation ID must be greater than zero.";
        }
    }
    
}